#slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#error{
    font-size:8em;
    margin:0;
}
#sad{
    font-size: 3em;
    margin:0;
}
#info{
    width: 100%;
}
#footer{
    border: 0;
}
table{
    font-size: large;
}
#button{
    width: 100px;
    height: 40px;
    border-left: 3px solid #930000;
    text-align: center;
    font-size: 2em;
    transition: 0.3s;
}
#button:hover{
    background-color: #930000;
    color: wheat;
    cursor: pointer;
}
@media (max-width: 600px){
    #slide{
        height: 400px;
    }
    textarea{
        width: 70vw;
    }
    #button:active{
        background-color: #930000;
        color: wheat;
        cursor: pointer;
    }
}