#body{
    flex-direction: column;
    font-size: large;
}
.catalog{
    display:flex;
    flex-direction: row;
}
.side{
    font-size: 20px;
    text-align: center;
    border-bottom:5px solid #930000;
}
.tag{
    position: sticky;
    top: 35px;
    border: 10px solid black;
    transition: 0.3s;
}
.tag:hover{
    background-color: #930000;
    color: wheat;
}
.content{
    align-items: flex-start;
    border: 5px solid transparent;
    padding-bottom: 10px;
    font-weight: normal;
}
p{
    transition: 0.3s;
}
p:hover{
    color: wheat;
}
h1,h3{
    font-family: 'Cookie', cursive;
    color: wheat;
}
.link{
    width: 200px;
    border-left: 3px solid wheat;
    margin: 10px;
    transition: 0.3s;
    font-size: 25px;
    color: #930000;
}
.link:hover{
    border-left:10px solid #930000;
    background-color: #930000;
    color: wheat;
}
#citation-side{
    border-bottom: 0;
}
.content a:hover{
    color:#930000;
}
@media (max-width: 600px){
    .link:active{
        border-left:10px solid #930000;
        background-color: #930000;
        color: wheat;
    }
}