body{
    background-color: black;
    align-items: center;
    font-family: fantasy;
}
p{
    color: #930000;
    font-size:large;
}
p::first-letter{
    font-size: 2em;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom:3px solid #930000;
    width: auto;
    height:50px;
    font-size:40px;
    color: #930000;
}
#header-pic{
    position:relative;
}
#title{
    position:absolute;
    left: 50px;
    top: 20px;
}
#search-log-sign{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search{
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
}
#search:hover{
    background-color: #930000;
}
.log-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width:120px;
    height:50px;
    font-family: fantasy;
    font-size:20px;
    color: #930000;
}
.log-sign:hover{
    background-color: #930000;
    color: white;
}
#slide{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: auto;
    height:400px;
}
#menu{
    background-color: #930000;
    width: auto;
    height:33px;
}
.menu-element{
    float: left;
    background-color: black;
    border: 0;
    width:120px;
    height:30px;
    font-family: fantasy;
    font-size:20px;
    text-align: center;
    color: #930000;
}
.menu-element:hover{
    background-color: #930000;
    color: white;
}
#main{
    display: flex;
    flex-direction: row;
    background-color: black;
    width:100%;
}
#side{
    width:10%;
    border-right: 3px solid #930000;
}
#content{
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.pic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:5px 0;
}
.pic img:hover{
    filter: blur(5px);
    border: 3px solid #930000;
}
#text{
    margin:0 25px;
}
#footer{
    display: flex;
    flex-direction: row;
}
#footer-side{
    width:10%;
    height: 80px;
    border-top:3px solid #930000;
    border-right: 3px solid #930000;
}
#info{
    width: 90%;
    color: #930000;
    text-align: center;
    border-top:3px solid #930000;
}