body{
    background-color: black;
    align-items: center;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom:3px solid #930000;
    width: auto;
    height:50px;
    font-family: fantasy;
    font-size:40px;
    color: #930000;
}
#header-pic{
    position:relative;
}
#title{
    position:absolute;
    left: 50px;
    top: 20px;
}
#search{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#slide{
    background-color: black;
    width: auto;
    height:400px;
}
#menu{
    background-color: black;
    border:3px solid #930000;
    width: auto;
    height:30px;
}
.menu-element{
    float: left;
    background-color: black;
    border-right: 3px solid #930000;
    width:120px;
    height:30px;
    font-family: fantasy;
    font-size:20px;
    color: #930000;
}
.menu-element:hover{
    background-color: #930000;
    color: white;
}
#content{
    background-color: whitesmoke;
    margin:0 auto;
    width:1000px;
    height: 1000px;
}