body{
    background-color: black;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    color: #930000;
}
p{
    font-size:large;
}
a{
    text-decoration: none;
    color: #930000;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-bottom:3px solid #930000;
    width: auto;
    height:50px;
    font-size:40px;
    color: #930000;
}
#header-pic{
    position:relative;
}
#title{
    position:absolute;
    left: 50px;
    top: 20px;
}
#search-log-sign{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#search{
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    transition: 0.3s;
}
#search:hover{
    background-color: #930000;
}
.log-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width:120px;
    height:50px;
    font-size:20px;
    color: #930000;
    transition: 0.3s;
}
.log-sign:hover{
    background-color: #930000;
    color: wheat;
}
#slide{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: auto;
    height:400px;
}
#menu{
    position: sticky;
    top: 0;
    background-color: #930000;
    width: 100%;
    height:35px;
    z-index: 2;
}
.menu-element{
    position: relative;
    float: left;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    width:120px;
    height:30px;
    font-size:20px;
    text-align: center;
    color: #930000;
    transition: 0.3s;
}
.menu-element:hover{
    background-color: #930000;
    color: wheat;
}
.sub-element{
    position: absolute;
    display: none;
    background-color: black;
    width: 120px;
    height:30px;
}
#sub1{
    top:30px;
}
#sub2{
    top:60px;
}
#sub3{
    top:90px;
}
#sub4{
    top:120px;
}
.sub-element:hover{
    background-color: #930000;
    color: wheat;
    transition: 0.2s;
}
#main{
    z-index: 1;
}
#body{
    display: flex;
    flex-direction: row;
    background-color: black;
    width:100%;
}
.side{
    width:12%;
    border-right: 5px solid #930000;
}
.content{
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
.content:hover{
    color: wheat;
}
span{
    font-size: 2em;
}
.pic{
    margin-left:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.show{
    width: 24.5%;
    height: auto;
    border: 3px solid transparent;
    transition: 0.3s;
}
.show:hover{
    filter: blur(5px);
    border: 3px solid #930000;
}
#text{
    width: 70%;
}
#footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-top:5px solid #930000;
}
#footer-side{
    width:12%;
    border-right: 5px solid #930000;
}
#info{
    width: 76%;
    color: #930000;
    text-align: center;
}